@tailwind base;
@tailwind components;
@tailwind utilities;

/* 在宽屏端生效的设置 (通常为桌面) */
@media screen and (min-width: 1024px) {

    /* 滚动条背景样式 */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0);
    }

    /* 滚动条样式 */
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}